.background-color {
    background-color: rgb(24, 177, 156);
}

.Background-image {
    background-image: url(image.png);
}

.background-repeat {
    background-image: url(image.png);
    background-repeat: no-repeat;
}

.background-size {
    background-image: url(image.png);
    background-size: cover;
}
.background-attach {
    background-image: url(image.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
}

.background-position {
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: center ;
}
.background-shothand {
    background-image: url(image.png);
}