.container {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
    height: 200px;

.box {
    height: 100px;
    width: 100px;
    background-color: aqua;
    text-align: center;
    border: 1px dashed burlywood;
    border-radius: 30px;
}

.flexdirection {
    background-color: rgb(215, 250, 222);
    display: flex;
    
}